root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{md,markdown}]
trim_trailing_whitespace = false

[{lib,tests}/**.js]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2
insert_final_newline = true
